<nav class="navbar navbar-expand navbar-dark bg-primary mb-4">
  <div class="container">
    <a href="#" class="navbar-brand">Diet Logs</a>
    <div>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Persons</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">New Person</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Appointments</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
