<table class="table table-hover">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Address</th>
    <th scope="col">Phone</th>
    <th scope="col">Age</th>
    <th scope="col">Height</th>
    <th scope="col">Target (kg)</th>
    <th scope="col">Illness</th>
    <th scope="col">Medication</th>
    <th scope="col">Allergies</th>
  </tr>
  <tr *ngFor="let person of persons">
    <td>{{person.id}}</td>
    <td>{{person.name}}</td>
    <td>{{person.address}}</td>
    <td>{{person.phone}}</td>
    <td>{{person.age}}</td>
    <td>{{person.height}}</td>
    <td>{{person.targetkg}}</td>
    <td>{{person.illness}}</td>
    <td>{{person.medication}}</td>
    <td>{{person.allergies}}</td>
    <td>
      <button type="button" class="btn btn-primary" (click)="onSelect(person)">Profile</button>
    </td>
    <td>
      <button type="button" class="btn btn-danger">Delete</button>
    </td>
  </tr>
</table>

<div *ngIf="selectedPerson">
  <h2>{{ selectedPerson.name | uppercase }} Details</h2>
  <div>
    <span>id: </span>{{ selectedPerson.id }}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedPerson.name" placeholder="name">
    </label>
  </div>
  <div>
    <label>address:
      <input [(ngModel)]="selectedPerson.address" placeholder="address">
    </label>
  </div>
  <div>
    <label>phone:
      <input [(ngModel)]="selectedPerson.phone" placeholder="phone">
    </label>
  </div>
  <div>
    <label>age:
      <input [(ngModel)]="selectedPerson.age" placeholder="age">
    </label>
  </div>
  <div>
    <label>height:
      <input [(ngModel)]="selectedPerson.height" placeholder="height">
    </label>
  </div>
  <div>
    <label>target kg:
      <input [(ngModel)]="selectedPerson.targetkg" placeholder="targetkg">
    </label>
  </div>
  <div>
    <label>illness:
      <input [(ngModel)]="selectedPerson.illness" placeholder="illness">
    </label>
  </div>
  <div>
    <label>medication:
      <input [(ngModel)]="selectedPerson.medication" placeholder="medication">
    </label>
  </div>
  <div>
    <label>allergies:
      <input [(ngModel)]="selectedPerson.allergies" placeholder="allergies">
    </label>
  </div>
</div>