<div class="card mb-3">
  <div class="card-header">Client List</div>
  <div class="card-body">
    <table class="table table-hover">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
        <th scope="col">Age</th>
        <th scope="col">Height</th>
        <th scope="col">Target (kg)</th>
        <th scope="col">Illness</th>
        <th scope="col">Medication</th>
        <th scope="col">Allergies</th>
      </tr>
      <tr *ngFor="let person of persons">
        <td>{{person.id}}</td>
        <td>{{person.name}}</td>
        <td>{{person.address}}</td>
        <td>{{person.phone}}</td>
        <td>{{person.age}}</td>
        <td>{{person.height}}</td>
        <td>{{person.targetkg}}</td>
        <td>{{person.illness}}</td>
        <td>{{person.medication}}</td>
        <td>{{person.allergies}}</td>
        <td>
          <button routerLink="/profile/{{person.id}}" type="button" class="btn btn-primary">Profile</button>
        </td>
        <td>
          <button (click)="deletePerson(person)" type="button" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </table>
  </div>
</div>