<div class="card mb-3">
  <div class="card-header">Today's Appointments</div>
  <div class="card-body">
    <div *ngIf="appointmentsToday.length != 0">
      <table class="table table-hover">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Day</th>
          <th scope="col">Time</th>
          <th scope="col">Person</th>
          <th scope="col">Address</th>
        </tr>
        <tr *ngFor="let todayApp of appointmentsToday">
          <td>{{todayApp.id}}</td>
          <td>{{todayApp.appointmentDate}}</td>
          <td>{{todayApp.appointmentTime}}</td>
          <td>{{todayApp.person.name}}</td>
          <td>{{todayApp.person.address}}</td>
          <td>
            <button type="button" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </table>
    </div>
    <div *ngIf="appointmentsToday.length == 0">There are no appointments for today!</div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-header">Tomorrow's Appointments</div>
  <div class="card-body">
    <div *ngIf="appointmentsTomorrow.length != 0">
      <table class="table table-hover">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Day</th>
          <th scope="col">Time</th>
          <th scope="col">Person</th>
          <th scope="col">Address</th>
        </tr>
        <tr *ngFor="let tomorrowApp of appointmentsTomorrow">
          <td>{{tomorrowApp.id}}</td>
          <td>{{tomorrowApp.appointmentDate}}</td>
          <td>{{tomorrowApp.appointmentTime}}</td>
          <td>{{tomorrowApp.person.name}}</td>
          <td>{{tomorrowApp.person.address}}</td>
          <td>
            <button type="button" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </table>
    </div>
    <div *ngIf="appointmentsTomorrow.length == 0">There are no appointments for tomorrow!</div>
  </div>
</div>