<div *ngIf="person">

  <h1>{{ person.name | uppercase }} Details</h1>
  <!-- Personal Information Section -->
  <div class="card mb-3">
    <div class="card-header">Personal Information</div>
    <div class="card-body">

      <div class="form-group">
        <div class="form-control">{{ person.name }}</div>
      </div>

      <div class="form-row">
        <div class="col-8">
          <div class="form-group">
            <div class="form-control">{{person.address}}</div>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <div class="form-control">{{person.phone}}</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <div class="form-control">{{person.age}}</div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <div class="form-control">{{person.height}} metres</div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <div class="form-control">{{person.targetkg}} Kg</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <div class="form-control">{{person.illness}}</div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <div class="form-control">{{person.medication}}</div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <div class="form-control">{{person.allergies}}</div>
          </div>
        </div>
      </div>
    </div>


  </div>

  <!-- Food Habit Section -->
  <div class="card mb-3">
    <div class="card-header">Food Habits</div>
    <div class="card-body">Placeholder</div>
  </div>

  <!-- Appointment Section -->
  <div class="card mb-3">
    <div class="card-header">Appointment</div>
    <div class="card-body">
      <app-appointment-profile></app-appointment-profile>
    </div>
  </div>

  <!-- Measurements Section -->
  <app-measurement-new-form></app-measurement-new-form>
  <app-measurement-list></app-measurement-list>


  <button class="btn btn-light" (click)="goBack()">Back</button>

</div>